<div class="container">
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" >
        <div class="card">
            <img src={{user.image}} class="card-img-top" alt="...">
            <div class="card-body" style="text-align: center;">
                <p class="card-text"><i class="fa fa-user"> {{user.fullName}}</i></p>
                <p class="card-text"><i class="fa fa-envelope"> {{user.email}}</i></p>
                <p class="card-text"><i class="fa fa-phone"> {{user.phone}}</i></p>
                <p class="card-text"><i class="fa fa-map-marker"> {{user.location}}</i></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
</div>